// === Inputs ===
.input,.textarea,.select
	padding 15px
	border 1px solid $border-color
	resize: none
	outline: 0 !important
	font-family $v-font
	display block!important
	placeholder(#888888)
	background: white
	tr(all)
	&:focus
		border 1px solid $mark
		background: white

.style-label
	display flex
	position relative
	align-items center

.style-label--disable
	@extend .disabled

.check-el
	input
		position absolute
		top 0
		left -9999px
	.sytle-input-element
		br(2px)
		cp()
		tr(all)
		width 32px
		height 32px
		position relative
		display inline-block
		margin-right 30px
		background white
		border 1px solid $border-color
		&:hover
			border 1px solid $mark
	.icon-check
		display none
	.sytle-input
		&:checked ~ .sytle-input-element
			flex(mid)
			color white
			background: $mark
			border 1px solid $mark
			.icon-check
				display block
				fill white
				size 16px

.style-label--radio
	input
		position absolute
		top 0
		left -9999px
	.sytle-input-element
		width 32px
		height 32px
		position relative
		display inline-block
		margin-right 30px
		background white
		border 1px solid $border-color
		round()
		cp()
	.icon-check
		display none
	.sytle-input
		&:checked ~ .sytle-input-element
			flex(mid)
			color white
			box-shadow 0 2px 4px rgba(0, 45, 135, 0.16)
			border-color white
			background: white
			.icon-radio
				round()
				size 16px
				background $mark

.sytle-input-text
	color black
	width: calc(100% - 80px)
	line-height: 1.6
	a
		color $mark



//form
.input-row
	//margin-bottom: 20px
	.input
		width: 100%
		margin-bottom: 0
.input-row__title
	margin-bottom: 10px

.input-row--error
	.input
		border-color $red
		color $red
	.error-msg
		display block
.error-msg
	color $red
	margin: 10px 0
	display none

.input-cont
	display: grid
	grid-gap 20px
	margin-bottom: 20px
.input-cont--two
	grid-template-columns: 1fr 1fr
	+below(640px)
		grid-template-columns: 1fr
.input-cont--three
	grid-template-columns: 1fr 1fr 1fr
	+below(640px)
		grid-template-columns: 1fr
