include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		.main-cont
			+bread()
			.layer
				.toolbar.toolbar--mobile
					.toolbar-item.toolbar-item--stick
						.toolbar-head О компании
						a(href="#deliver-info" rel='m_PageScroll2id').toolbar-el.toolbar-el--active Veneto
						a(href="#diler" rel='m_PageScroll2id').toolbar-el Дилерская сеть
						a(href="#deliver" rel='m_PageScroll2id').toolbar-el Поставщики
						a(href="#sale" rel='m_PageScroll2id').toolbar-el Акции
				.info#about
					.title О компании
					.about-el.about-el--info.text
						p Задача организации, в особенности же новая модель организационной деятельности позволяет оценить значение существенных финансовых и административных условий.
						p Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Не следует, однако забывать, что укрепление и развитие структуры в значительной степени обуславливает создание систем массового участия.
						p Задача организации, в особенности же постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.
						p С другой стороны консультация с широким активом требуют от нас анализа систем массового участия. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки новых предложений. Разнообразный и богатый опыт укрепление и развитие структ

					.about-el#plus
						.plus
							.plus__el
								.plus__el-head
									.plus__el-icon
										img(src="img/strars.svg", alt="")
									.plus__el-title Наши ценности
								.plus__el-info.text
									p С другой стороны консультация с широким активом требуют от нас анализа систем массового участия. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки новых предложений.
									p Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности требуют определения и уточнения новых предложений.
									p Задача организации, в особенности же сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Задача организации, в особенности же консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.
							.plus__el.plus__el--dark
								.plus__el-head
									.plus__el-icon
										img(src="img/reward.svg", alt="")
									.plus__el-title Наше преимущество
								.plus__el-info.text
									p Товарищи! рамки и место обучения кадров играет важную роль в формировании модели развития. Таким образом реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития.
							.plus__el.plus__el--dark
								.plus__el-head
									.plus__el-icon
										img(src="img/doc.svg", alt="")
									.plus__el-title Наши гарантии
								.plus__el-info.text
									p Повседневная практика показывает, что новая модель организационной деятельности требуют определения и уточнения существенных финансовых и административных условий. Не следует, однако забывать, что укрепление и развитие структуры требуют от нас анализа соответствующий условий активизации. Товарищи!
					.about-el#diler
						.title Дилерская сеть
						.map
							.map-el
								//put map code her
						.diler
							.diler__el
								.diler__el-title Новая дилерская сеть
								.diler__el-text Равным образом постоянный количественный рост и сфера нашей активности требуют от нас анализа модели развития. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании форм развития.
							.diler__el
								.diler__el-title Вторая дилерская сеть
								.diler__el-text Равным образом постоянный количественный рост и сфера нашей активности требуют от нас анализа модели развития. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Развитие структуры требуют от нас анализа соответствующий условий активизации. Товарищи!	С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Развитие структуры требуют от нас анализа соответствующий условий активизации. Товарищи!
							.diler__el
								.diler__el-title Третья дилерская сеть
								.diler__el-text Разнообразный и богатый опыт рамки и место обучения кадров позволяет выполнять важные задания по разработке.
					.about-el#deliver
						.title Поставщики
						.provider
							- for (var i=0;i<4;i++)
								.provider__el
									.provider__el-img-wrap
										.provider__el-img(style="background-image:url('img/stival.jpg')")
									.provider__el-info.text
										p Задача организации, в особенности же дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки направлений прогрессивного развития. Идейные соображения высшего порядка, а также рамки и место обучения кадров позволяет оценить значение соответствующий условий активизации.
										p С другой стороны новая модель организационной деятельности позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.
										p Не следует, однако забывать, что новая модель организационной деятельности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.
			.section#sale
				.section-title Наши акции
				.slider-wrap.slider-wrap--simple
					.slider-control.slider-control--left
						+icon("arrow-left","icon")
					.slider-control.slider-control--right
						+icon("arrow-right","icon")
					.slider-item.sale-slider
						- for (var i=0;i<5;i++)
						.slider-el
							.sale
								.sale-content
									a(href="#").sale-title Скидка на всю колеекцию столешниц
									.sale-text Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития. Разнообразный и богатый опыт консультация с широким активом представляет собой интересный эксперимент проверки форм развития.
								.sale-img(style="background-image:url('img/item-2.jpg')")

			.section
				.section-title Наши новости
				.news-slider.slider-scale
					- for (var i=0;i<3;i++)
						.news-slider__el
							.news-slider__el-date 12.02.2019
							a(href="#").news-slider__el-title Новый выбор фурнитуры
							.news-slider__el-text Разнообразный и богатый опыт сложившаяся структура организации представляет собой интересный эксперимент проверки систем массового участия. Товарищи! консультация с широким активом требуют от нас анализа...
						.news-slider__el
							.news-slider__el-date 25.08.2019
							a(href="#").news-slider__el-title Увеличение поставок от наших партнеров
							.news-slider__el-text Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности позволяет выполнять ...
						.news-slider__el
							.news-slider__el-date 07.12.2019
							a(href="#").news-slider__el-title Как правильно подобрать дерево для столешницы
							.news-slider__el-text дейные соображения высшего порядка, а также консультация с широким активом требуют определения и уточнения систем массового участия. Разнообразный и богатый опыт ...

			+form()

	+footer()
include ./block_html/_script.pug
