include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content

		.main-cont
			+bread()
			.title Новая встреча на самом модном фестивале Москвы
			.news-full
				.news-full__img(style="background-image:url('img/item-6.jpg')")
				.news-full__cont.text
					p Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение модели развития. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров позволяет выполнять важные задания по разработке соответствующий условий активизации. Значимость этих проблем настолько очевидна
					p Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Разнообразный и богатый опыт консультация с широким активом в значительной степени обуславливает создание позици

					ul
						li список 1
						li список 2
						li список 3
						li список 4
					p Разнообразный и богатый опыт реализация намеченных плановых заданий требуют от нас анализа существенных финансовых и административных условий. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности способствует подготовки и реализации существенных финансовых и административных условий.

			.navigation
				a(href="#").navigation__el.btn--icon--left
					.btn--icon
						+icon("arrow-left-fat","nav-icon")
						span Назад
				a(href="#").navigation__el
					.btn--icon
						span Вперед
						+icon("arrow-right-fat","nav-icon")

			+form()
	+footer()
include ./block_html/_script.pug
