mixin footer()
	//block footer
	.soc-row
		a(href="#").soc-row__el
			img(src="img/facebook--color.svg", alt="")
		a(href="#").soc-row__el
			img(src="img/vk--color.svg", alt="")
		a(href="#").soc-row__el
			img(src="img/instagram--color.svg", alt="")
	.footer
		.main-cont
			.footer-head
				a(href="/").footer-logo
					img(src="img/logo-light.svg", alt="")
				a(href="tel:+7 (495) 651-86-75").footer-phone +7 (495) 651-86-75
			.footer-nav
				.footer-nav__col
					.footer-nav__title Каталог
					.footer-nav__el Фасады
					.footer-nav__el Ручки
					.footer-nav__el Вытяжки
					.footer-nav__el Сопутствующие товары
				.footer-nav__col
					.footer-nav__title Сервис
					.footer-nav__el Материалы
					.footer-nav__el Производство
				.footer-nav__col
					.footer-nav__title О компании
					.footer-nav__el Дизайнеры
					.footer-nav__el Новости
				.footer-nav__col
					.footer-nav__title Контакты
					.footer-contact
						.footer-contact-name Адрес:
						.footer-contact-val МО, г. Щёлково, ул. Хотовская, д. 34, корп. 2
					.footer-contact
						.footer-contact-name Тел.:
						.footer-contact-val +7 (495) 651-86-75
					.footer-contact
						.footer-contact-name E-mail:
						.footer-contact-val info@veneto.pro
					a(href="/").footer-loc Как добраться


//block footer end