mixin form()
	.section
		.section-title.section-title--extend Остались вопросы?
		.form
			.form-info
				form(action="#")
					.input-row
						input(type="text" placeholder="Ваше имя" class="input")
					.input-row
						input(type="text" placeholder="Ваш телефон" class="input")
					.input-row
						input(type="text" placeholder="Ваш email" class="input")
					.input-row
						input(type="submit" value="Заказать звонок" class="btn--md btn--mark btn--full")
			.form-img(style="background-image:url('img/item-4.jpg')")