-
	pages = [
		{
		'name':'Элементы',
		'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
			'name':'Карточка товара',
			'href':'item'
		},
		{
			'name':'Каталог',
			'href':'catalog'
		},
		{
			'name':'Акции список',
			'href':'sale-list'
		},
		{
			'name':'Акция подробная',
			'href':'sale'
		},
		{
			'name':'Новости список',
			'href':'news-list'
		},
		{
			'name':'Новости подробная',
			'href':'news'
		},
		{
			'name':'Список товаров',
			'href':'list'
		},
		{
			'name':'Корзина',
			'href':'basket'
		},
		{
			'name':'О компании',
			'href':'about'
		},
		{
			'name':'Доставка',
			'href':'deliver'
		},
		{
			'name':'ЛК-прайсы',
			'href':'lk-price'
		},
		{
			'name':'ЛК-скидки',
			'href':'lk-sale'
		},
		{
			'name':'ЛК-настройки',
			'href':'lk-settings'
		},
		{
			'name':'ЛК-Фотобанк',
			'href':'lk-photo'
		},
		{
			'name':'ЛК-Заказы',
			'href':'lk-orders'
		},
		{
			'name':'Модальные окна',
			'href':'modal'
		},
		{
			'name':'Ошибка 404',
			'href':'404'
		}
	]

