-
	pages = [
		{
		'name':'Элементы',
		'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
			'name':'Карточка товара',
			'href':'item'
		},
		{
			'name':'Каталог',
			'href':'catalog'
		},
		{
			'name':'Акции список',
			'href':'sale-list'
		},
		{
			'name':'Акция подробная',
			'href':'sale'
		},
		{
			'name':'Новости список',
			'href':'news-list'
		},
		{
			'name':'Новости подробная',
			'href':'news'
		},
		{
			'name':'Список товаров',
			'href':'list'
		}
	]

