mixin header()
	//block header
	.header
		.main-cont
			.head
				.head-toggle
					+icon("menu","icon icon-open")
					+icon("close","icon icon-close")
				a(href="/").logo
					img(src="img/logo.svg", alt="")
				a(href="tel:+7 (495) 651-86-75").head__phone +7 (495) 651-86-75
				.head-tool
					a(href="#").head-login Личный кабинет
					a(href="#").cart
						+icon("shopping-cart","icon")
				.slide-menu
					.slide-menu__list
						a(href="#").slide-menu__list-el Каталог
						a(href="#").slide-menu__list-el Сервис
						a(href="#").slide-menu__list-el О компании
						a(href="#").slide-menu__list-el Контакты
						a(href="#").slide-menu__list-el Личный кабинет
					a(href="tel:8 800 000 00 00").header-top-phone
						.header-top-phone__icon
							+icon("phone-call","icon")
						.header-top-phone__val 8 800 000 00 00
					form(action="#").search
						input(type="text" placeholder="Что ищем" class="input")
						input(type="submit" value="Искать" class="btn--md btn--mark")
			.nav
				.nav-list
					a(href="#").nav-el Каталог
					a(href="#").nav-el Сервис
					a(href="#").nav-el О компании
					a(href="#").nav-el Контакты
				form(action="#").search
					input(type="text" placeholder="Что ищем" class="input")
					input(type="submit" value="Искать" class="btn--md btn--mark")
	//block header end